@media print {

  .print\:border-2 {
    border-width: 2px;
  }

  .print\:hover\:border-2:hover {
    border-width: 2px;
  }

  .print\:hidden {
    display: none;
  }

  .print\:block {
    display: block;
  }

  .print\:mb-4 {
    margin-bottom: 1rem;
  }

  .print\:pt-4 {
    padding-top: 1rem;
  }

  .print\:text-black {
    color: #000;
  }

  .print\:text-psrfcu {
    color: #0055b0;
  }

  .print\:text-sm {
    font-size: 0.875rem;
  }

  .print\:text-4xl {
    font-size: 2.25rem;
  }

  .print\:float-left {
    float: left;
  }

  .print\:clear-left {
    clear: left;
  }

  .print\:no-underline {
    text-decoration: none;
  }

}