<!DOCTYPE html>
<html class="h-full" lang="{{ .Lang }}">
{{ partial "head" . }}

<body class="flex flex-col h-screen bg-whiteish">
  {{ partialCached "top_header" . }}
  {{ partial "navigation" . }}
  <main class="primary-content mb-8 text-gray-700" style="flex: 1 0 auto;">
    {{block "main" . }}{{ end }}
  </main>
  {{ partialCached "footer" . }}
  
  <div class="print:hidden">
    <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "bcwROKDnZI");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
  </div>
</body>

</html>