{{- define "main" -}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="/js/search.js"></script>

<section class="w-full px-4 lg:px-8">
  <div class="block mt-8 px-8 max-w-full lg:max-w-6xl mx-auto pb-8">
    <h2 class="font-heading text-xl lg:text-4xl text-psrfcu mb-6">Search Results</h2>
    <div id="search-results"></div>
  </div>
</section>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}" class="ml-8 mb-4">
    <a href="${link}">
      <h3 class="text-2xl font-heading text-psrfcu">${title}</h2>
      <p class="pl-4">${snippet}&nbsp;&#8230;</p>
    </a>
  </div>
</script>
{{- end -}}