{{- define "main" -}}
<section class="block mt-8 px-8 max-w-full lg:max-w-6xl mx-auto pb-8">
  <h1 class="text-psrfcu font-heading mb-2 text-4xl print:text-psrfcu print:text-4xl">{{.Title}}</h1>
  <article class="leading-tight text-left sm:text-justify">
    <div class="mb-4 text-sm print:mb-4 print:text-sm">Posted: {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
    {{ if not .Params.hideImage }}
    <div class="block float-none sm:float-left sm:pr-6 pb-4 pt-2 print:float-left">
      {{- if eq hugo.IsProduction false }}
      <img class="shadow-md mx-auto rounded-lg p-4 bg-white" src="{{ .Params.featured_image | relURL }}" alt="Featured Image">
      {{ else -}}
      <img class="shadow-md mx-auto rounded-lg p-4 bg-white" src="https://psrfcu.imgix.net{{ .Params.featured_image | relURL }}?w=256&fit=clip&auto=format" alt="Featured Image">
      {{- end }}
    </div>
    {{ end }}
    <div>
      {{.Content}}
    </div>
  </article>
</section>
{{- end -}}