@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-black {
  text-shadow: 0px 0px 6px black;
}

.text-shadow-white {
  text-shadow: 0px 0px 6px white;
}

.text-shadow-black:hover {
  text-shadow: 0px 0px 6px black;
}

.text-shadow-white:hover {
  text-shadow: 0px 0px 6px white;
}

p {
  margin-bottom: 0.5em;
}

p a {
  color: #0055b0!important;
  font-weight: bold!important;
}

div ul {
  list-style-type: disc;
  padding-left: 2em;
}

h2 {
  color: #0055b0;
  font-family: Playfair Display, serif;
  font-weight: bold;
  font-size: 1.5em;
}

h3 {
  color: #0055b0;
  font-family: Playfair Display, serif;
  font-weight: bold;
  font-size: 1.2em;
}

.slider > div:not(:first-child)
 {
   display: none;
 }