<footer class="flex flex-shrink-0 mt-auto bg-psrfcu z-50">
  <div class="container mx-auto p-8">
    <div class="flex flex-col sm:flex-wrap md:flex-row justify-between align-top">
      <div class="mb-4 text-white text-center md:text-left w-full md:w-1/3 print:clear-left print:pt-4">
        <span id="contact-information">
          Puget&nbsp;Sound&nbsp;Refinery&nbsp;FCU<br>
          <a class="print:no-underline print:text-black" href="https://goo.gl/maps/MBmieHwQzHpSA3um6" target="_blank" rel="nofollow">
          12275 Bartholomew Rd<br>
          Anacortes, WA 98221</a><br>
          Phone: (360) 293-4862<br>
          Text: (360) 610-7140
        </span>
        <div class="w-full mt-2">
          <a href="https://www.facebook.com/psrfcu">
            <img class="w-8 inline-block align-bottom" src="/Facebook-f_Logo-White-Logo_100.svg" alt="Facebook Logo">&nbsp;Find us on Facebook
          </a>
        </div>
      </div>
      <div class="print:hidden text-whiteish text-center font-bold w-full md:w-2/3">
        <ul class="mb-4 block flex flex-col sm:flex-wrap md:flex-row justify-between list-none p-0">
          <li>
            <a href="/disclosures/#privacy-policy">Privacy&nbsp;Policy</a>
          </li>
          <li>
            <a href="/disclosures/#terms-of-use">Terms&nbsp;of&nbsp;Use</a>
          </li>
          <li>
            <a href="/disclosures/#home-banking-disclosure">Home&nbsp;Banking</a>
          </li>
          <li>
            <a href="/disclosures/#third-party-links-disclosure">Third&nbsp;Party&nbsp;Links</a>
          </li>
          <li>
            <a href="/disclosures/#accessibility">Accessibility</a>
          </li>
        </ul>
        <img class="w-full" src="https://psrfcu.imgix.net/uploads/foot-logos.png?auto=format" alt="Logos for Equal Housing Lender, America's Credit Unions and NCUA.">
      </div>
    </div>
    <div class="print:hidden text-xs text-center text-white mx-auto">Icons made by 
      <a href="https://www.flaticon.com/authors/pause08" title="Pause08">Pause08</a>, 
      <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a>,  
      <a href="https://www.freepik.com/" title="Freepik">Freepik</a>,  
      <a href="https://www.flaticon.com/authors/alkhalifi-design" title="Alkhalifi Design">Alkhalifi Design</a>,  
      <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>. 
      Icons licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener" aria-describedby="new-window-0">CC 3.0 BY</a>
    </div>
  </div>
</footer>
<div hidden>
  <span id="new-window-0">Opens in a new window.</span>
  <span id="new-window-1">Opens an external site.</span>
  <span id="new-window-2">Opens an external site in a new window.</span>  
</div>
<script type="text/javascript" src="/lightbox/js/lightbox.min.js"></script>
