<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    {{- with .Title | default .Site.Title -}}
    <title>{{ . }}</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" content="{{ . | truncate 70 }}" />
    {{- end -}}
    {{- with .Description | default .Params.subtitle | default .Summary -}}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}">
    {{- end -}}
    <meta name="author" content="{{ .Site.Author.name }}"/>
    <link href='/favicon.ico' rel='icon' type='image/x-icon'/>
    {{- with .Params.featured_image -}}
    <meta property="og:image" content="https://psrfcu.imgix.net{{ . }}?w=600&fit=clip&auto=format"/>
    <meta property="og:image:width" content="600" />
    {{- else -}}
    <meta property="og:image" content="https://psrfcu.imgix.net/uploads/logofinal2.jpg&w=600&fit=clip"/>
    <meta property="og:image:width" content="600" />
    {{- end -}}
    <meta property="og:url" content="{{ .Permalink | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    <link rel="canonical" href="{{ .Permalink | absLangURL }}" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

    {{ $styles := resources.Get "/css/style.css" | postCSS }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
      {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}

    <link rel="stylesheet" href="/css/print.css" media="print">

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118834564-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118834564-1');
    </script>

    {{ partial "head_custom.html" . }}

    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
</head> 
