<section aria-label="Navigation Header" class="print:hidden flex flex-shrink-0 flex-col md:flex-row items-center justify-between align-middle p-4 lg:px-8 bg-white border-b-2 border-psrfcu shadow-lg">
  <div class="flex flex-row align-middle items-center h-full">
    <a class="hidden sm:inline-block my-2" href="{{ .Site.BaseURL | relURL }}">
      <img class="h-8 lg:h-12" src="https://psrfcu.imgix.net{{ .Site.Params.logo | relURL }}?h=48&fm=png&auto=format" alt="Logo for {{ safeHTML .Site.Params.organization }}">
    </a>
  </div>
  <nav class="flex flex-col min-w-full sm:min-w-0 print:hidden" aria-label="Landing Page Links" role="navigation">
    <button id="toggle" class="flex flex-row items-center justify-center sm:hidden p-2 border border-psrfcu sm:border-transparent hover:text-psrfcu font-bold rounded" aria-expanded="false" aria-controls="menu">
      <span class="uppercase text-2xl">{{ .Site.Params.org_nickname }} Menu</span>
    </button>
    <ul id="menu" class="hidden pl-0 flex-col sm:flex sm:flex-row items-center sm:bg-white z-50">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a class="sm:transform block w-full sm:inline-block no-underline uppercase text-lg sm:text-base lg:text-lg font-bold text-center sm:hover:-translate-y-1" href="{{ .URL }}">
        <li class="group bg-psrfcu block min-w-full sm:min-w-0 p-1 sm:pl-4 border hover:border-psrfcu sm:border-none hover:text-white text-white sm:text-black sm:bg-transparent sm:hover:text-psrfcu rounded">
          <span class='sm:filter sm:group-hover:drop-shadow-lg sm:group-hover:text-psrfcu {{ if $currentPage.IsMenuCurrent "main" . }}sm:text-psrfcu group-hover:text-white sm:drop-shadow-lg{{ end }}'>{{ .Name }}</span>
        </li>
      </a>
      {{ end }}
    </ul>
  </nav>
  <script type="text/javascript">
    var toggle = document.querySelector('#toggle');
    var menu = document.querySelector('#menu');
  
    toggle.addEventListener('click', function(){
      if (menu.classList.contains('block')) {
        this.setAttribute('aria-expanded', 'false');
        menu.classList.add('hidden');
        menu.classList.remove('block');
      } else {
        menu.classList.add('block');
        this.setAttribute('aria-expanded', 'true');
        menu.classList.remove('hidden');
      }
    });
  </script>
</section>
