<form class="flex flex-row mx-auto w-full" action='{{ "search" | absURL }}'>
  <input class="search-field border border-gray-200 rounded text-gray-700 min-w-full px-2 py-1"
    id="search-query"
    name="s"
    onblur="if (this.value == '') {this.value = 'Search...'}; this.style.color='#4a5568'; document.getElementById('search-box').style.backgroundPosition='0px 0px';"
    onfocus="if (this.value == 'Search...') {this.value = ''}; this.style.color='#4a5568'; document.getElementById('search-box').style.backgroundPosition='0px -37px';"
    size="35"
    type="text"
    value="Search..."
    title="Search this Website"
    aria-label="Search">
  <input class="search-go min-w-0"
    type="submit"
    value="&nbsp;"
    aria-label="Search Submit">
</form>