<header class="z-50 flex flex-shrink-0 flex-col sm:flex-row justify-between sm:space-x-4 items-center px-4 py-2 lg:px-8 bg-psrfcu text-white w-full print:hidden shadow-lg">
  <div class="flex flex-row sm:flex-col lg:flex-row my-1 sm:my-0 uppercase">
    <div aria-label="Phone Number" class="pr-4 sm:pr-0 lg:pr-4 whitespace-nowrap">
      <span class="text-xs font-bold hidden md:inline-block">Phone</span>&nbsp;<a href="tel:13602934862">(360)&nbsp;293&nbsp;4862</a>
    </div>
    <div aria-label="Routing Number">
      <span class="text-xs font-bold">Routing</span>&nbsp;#325180029
    </div>
  </div>
  <div class="w-full m-0 max-w-sm">
    {{ partial "search_form" .}}
  </div>
  <div role="navigation" aria-label="Top Level Links" class="mt-2 sm:mt-0 flex flex-wrap justify-center sm:justify-end items-center lg:flex-row text-sm sm:text-base uppercase space-x-4 xl:space-x-8">
    <a href="https://forms.joinmycu.com/mumikpgfpq/cuwebsite/standalone" class="text-white font-bold hover:text-black">Upload</a>
    <a href="/membership/" class="text-white font-bold hover:text-black">Join</a>
    <a href="/contact/" class="text-white font-bold hover:text-black">Contact</a>
    <a href="https://obc.itsme247.com/948/" target="_blank" rel="noopener" aria-describedby="new-window-0" class="text-white font-bold hover:text-black">Login</a>
    <a class="flex items-center ml-1" href="https://www.facebook.com/psrfcu" target="_blank">
      <img class="w-4 inline-block" src="/Facebook-f_Logo-White-Logo_100.svg" alt="Facebook Logo" title="Find Us on Facebook!">
    </a>
  </div>
</header>
