{{ $datafile := index .Page.Site.Data.tables .Section.table }}
<section class="block mt-8">
  <div class="px-8 mx-auto max-w-4xl">
    {{ with .Section.heading }}
    <h3 id="{{ urlize . }}" class="font-heading text-3xl text-psrfcu">{{ . }}</h3>
    {{ end }}
    {{ with .Section.description_markdown }}
    <div class="text-left sm:text-justify">{{ markdownify . }}</div>
    {{ end }}
    <div class="overflow-x-auto rounded">
      <table class="text-center w-full border-2 table-auto bg-white rounded shadow-md my-2">
        <thead>
          <tr class="align-top">
            <!-- range over column headings-->
            {{ range $datafile.columns }}
            <th class="p-2 md:p-4 bg-gray-200 text-psrfcu font-bold uppercase border-b border-gray-200 rounded-t">{{ markdownify . }}</th>
            {{end}}
          </tr>
        </thead>
        <tbody>
          <!-- range over rows-->
          {{ range $datafile.rows }}
          <tr class="hover:bg-gray-lighter">
            <!-- range over cells in row-->
            {{ range .cells }}
            <td class="p-2 md:p-4 border-b border-gray-200 text-center">{{ markdownify . }}</td>
            {{ end }}
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    {{ with .Section.footnotes_markdown }}
    <div class="text-left sm:text-justify pb-4">{{ markdownify . }}</div>
    {{ end }}
  </div>
</section>