<section aria-hidden="true" class="print:hidden w-full shadow-lg">
  <div class="slider overflow-x-hidden">
    {{ range .Section.slide }}
      <div class="w-full inline-flex justify-center align-middle bg-no-repeat bg-cover bg-center" 
        {{- if eq hugo.IsProduction false }}
        style="height:300px; background-image: url('{{ .image | relURL }}');">
        {{ else -}}
        style="height:300px; background-image: url('https://psrfcu.imgix.net{{ .image | relURL }}?h=300&blur=10&fm=pjpg&auto=format');">
        {{- end }}
        <div class="flex flex-col items-center h-full w-full justify-center {{- if eq hugo.IsProduction false }} filter backdrop-blur-sm{{ end }}">
          {{ if .heading }}
          <div><h1 class="font-heading text-3xl sm:text-6xl text-center mb-2 text-{{- .text_choice }} {{ if (eq .text_choice "white")}}text-shadow-black{{else}}text-shadow-white{{end}}">{{.heading}}</h1></div>
          {{ end }}
          {{ if .subheading_markdown }}
          <div><h2 class="px-4 font-heading text-xl sm:text-3xl text-center text-{{- .text_choice }} {{ if (eq .text_choice "white")}}text-shadow-black{{else}}text-shadow-white{{end}}">{{ markdownify .subheading_markdown }}</h2></div>
          {{ end }}
          {{ if .description_markdown }}
          <div><p class="px-4 text-center text-2xl text-{{- .text_choice }} {{ if (eq .text_choice "white")}}text-shadow-black{{else}}text-shadow-white{{end}}">{{ markdownify .description_markdown }}</p></div>
          {{ end }}
          {{ if .link_url }}
          <div class="mt-4"><a class="inline-block text-center py-2 px-8 text-whiteish bg-psrfcu rounded" {{ if (eq .open_in_new_tab true) }}target="_blank" rel="noopener" aria-describedby="new-window-0"{{ end }} href="{{ .link_url }}">{{ .link_text_markdown }}</a></div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.slider').slick({
      autoplay: {{- .Section.autoscroll -}},
      speed: {{- .Section.speed -}},
      dots: {{- .Section.dots -}},
      arrows: false
    });
  });
</script>