<section class="block block-text">
  <div class="container">
    <div class="columns">
      <div class="column headline">
        <h3>{{ safeHTML .Section.headline }}</h3>
      </div>
      <div class="column text">
        {{ safeHTML .Section.content }}
      </div>
    </div>
  </div>
</section>