<section class="block mt-8 px-8 pb-8 max-w-none">
  <h2 id="{{ urlize .Section.headline }}" class="text-4xl font-heading">{{ .Section.headline }}</h2>
  <p>{{ markdownify .Section.content_markdown }}</p>
</section>