<section class="block px-8 print:hidden">
  <div class="max-w-full lg:max-w-{{ .Section.width }}xl mx-auto">
    <div class="w-full pt-2">&#8613;<span class="text-xs pl-2"><a href="#">Back to Top</a></span></div>
  </div>
</section>