<section class="block px-8 mt-8">
  <div class="max-w-full lg:max-w-6xl mx-auto">
    {{ with .Section.gallery_heading }}<h2 class="font-heading text-3xl text-psrfcu">{{.}}</h2>{{end}}
    {{ with .Section.gallery_description_markdown }}<span>{{ markdownify . }}<span>{{end}}
    <div class="flex flex-wrap my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      {{ $galleryName := ( .Section.gallery_heading | urlize ) }}
      {{ range .Section.gallery_image }}
      <div class="p-4 max-w-full sm:max-w-1/2 lg:max-w-1/4">
        <figure class="relative mb-4 shadow-lg rounded-lg" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ .image | relURL }}" itemprop="contentUrl" data-lightbox="{{ $galleryName }}" data-title="{{ .caption }}" data-alt="{{ .caption }}">
            {{- if eq hugo.IsProduction false }}
            <img class="rounded-lg object-cover h-64 w-full" src="{{ .image | relURL }}" alt="{{ .caption }}">
            {{ else -}}
            <img class="rounded-lg object-cover h-64 w-full" src="https://psrfcu.imgix.net{{ .image | relURL }}?h=350&fm=pjpg&auto=format" alt="{{ .caption }}">
            {{- end }}
          </a>
          {{ if .caption }}
          <figcaption class="text-center absolute inset-x-0 bottom-0 p-2 bg-whiteish rounded-b-lg" itemprop="caption description">{{ .caption }}</figcaption>
          {{ end }}
        </figure>
      </div>
      {{ end }}
    </div>
  </div>
</section>