<section class='block mt-8 px-8
{{ if not (eq .Section.background_choice "whiteish")}}
  {{ if eq .Section.background_choice "black" }}bg-black{{ end }}
  {{ if eq .Section.background_choice "gray" }}bg-gray-600{{ end }}
  {{ if eq .Section.background_choice "psrfcu" }}bg-psrfcu{{ end }}
{{end}}' 
{{- if .Section.background_image }} 
 style='background-image: url("{{ .Section.background_image | relURL }}")'
{{- end -}}>
  <div class="max-w-full lg:max-w-5xl mx-auto">
    <div class="flex-col md:flex-row flex items-center md:items-start justify-center">
    {{ if (and .Section.media_alignment (eq .Section.media_alignment "Left")) }}
      <div class="{{ if not .Section.showmobile }}hidden{{end}} md:block max-w-full md:min-w-0 md:max-w-md ml-0 md:mr-8 my-4">
        {{ if eq hugo.IsProduction false }}
        <img class="shadow-md rounded-lg p-4 bg-white" alt="{{ .Section.media.alt_text }}" title="{{ .Section.media.alt_text }}" width="300px" src='{{ .Section.media.image | relURL }}' data-src='{{ .Section.media.image | relURL }}'>
        {{ else }}
        <img class="shadow-md rounded-lg p-4 bg-white" alt="{{ .Section.media.alt_text }}" title="{{ .Section.media.alt_text }}" width="300px" src='https://psrfcu.imgix.net{{ .Section.media.image | relURL }}?fm=pjpg&w=300&fit=clip&auto=format' data-src='https://psrfcu.imgix.net{{ .Section.media.image | relURL }}?fm=pjpg&w=300&fit=clip&auto=format'>
        {{ end }}
      </div>
      <div class="max-w-full w-full md:w-lg">
        <h2 id="{{ urlize .Section.headline }}" class="text-4xl font-heading {{ if (eq .Section.background_choice "whiteish")}}text-psrfcu{{else}}text-white{{end}}">{{ safeHTML .Section.headline }}</h2>
        <span class='text-left sm:text-justify 
        {{ if (eq .Section.background_choice "whiteish")}}
        text-black
        {{else}}
        text-white
        {{end}}'>
          <p>{{- markdownify .Section.content_markdown -}}</p>
        </span>
        {{- if (and (isset .Section "cta") (eq .Section.cta.enabled true)) -}}
          <button class="block my-4">
            <a class='text-center py-2 px-8 shadow-md {{ if (eq .Section.background_choice "whiteish")}}bg-psrfcu text-whiteish{{else}}bg-whiteish text-psrfcu{{end}} rounded' {{ if .Section.cta.open_in_new_tab }}target="_blank" rel="noopener" aria-describedby="new-window-0"{{ end }} href="{{ .Section.cta.link_url }}">{{ safeHTML .Section.cta.link_text_markdown }}</a>
          </button>
        {{- end -}}
      </div>
    {{ else }}
      <div class="max-w-full w-full md:w-lg">
        <h2 id="{{ urlize .Section.headline }}" class="text-4xl font-heading {{ if (eq .Section.background_choice "whiteish")}}text-psrfcu{{else}}text-white{{end}}">{{ safeHTML .Section.headline }}</h2>
        <span class='text-left sm:text-justify 
        {{ if (eq .Section.background_choice "whiteish")}}
        text-black
        {{else}}
        text-white{{end}}'>
        <p>{{ markdownify .Section.content_markdown }}</p></span>
        {{- if (and (isset .Section "cta") (eq .Section.cta.enabled true)) -}}
          <button class="block my-4">
            <a class='text-center py-2 px-8 shadow-md {{ if (eq .Section.background_choice "whiteish")}}bg-psrfcu text-whiteish{{else}}bg-whiteish text-psrfcu{{end}} rounded' {{ if (eq .open_in_new_tab true) }}target="_blank" rel="noopener" aria-describedby="new-window-0"{{ end }} href="{{ .Section.cta.link_url }}">{{ safeHTML .Section.cta.link_text_markdown }}</a>
          </button>
        {{- end -}}
      </div>
      <div class="{{ if not .Section.showmobile }}hidden print:hidden{{end}} md:block max-w-full md:min-w-0 md:max-w-md ml-0 md:ml-8 my-4">
        {{ if eq hugo.IsProduction false }}
        <img class="shadow-md rounded-lg p-4 bg-white" alt="{{ .Section.media.alt_text }}" title="{{ .Section.media.alt_text }}" width="300px" src='{{ .Section.media.image | relURL }}' data-src='{{ .Section.media.image | relURL }}'>
        {{ else }}
        <img class="shadow-md rounded-lg p-4 bg-white" alt="{{ .Section.media.alt_text }}" title="{{ .Section.media.alt_text }}" width="300px" src='https://psrfcu.imgix.net{{ .Section.media.image | relURL }}?fm=pjpg&w=300&fit=clip&auto=format' data-src='https://psrfcu.imgix.net{{ .Section.media.image | relURL }}?fm=pjpg&w=300&fit=clip&auto=format'>
        {{ end }}
      </div>
    {{ end }}
    </div>
    {{ if and (.Section.backtotop) (gt .section_count 0) }}
    <div class="w-full pt-2 print:hidden">&#8613;<span class="text-xs pl-2"><a href="#">Back to Top</a></span></div>
    {{ end }}
  </div>
</section>