<section class="block mt-8 px-8">
    <div class="max-w-full lg:max-w-4xl mx-auto">
      <figure class="bg-psrfcu p-4 rounded-lg">
        <div class="block rounded bg-cover bg-center py-64" 
        {{- if eq hugo.IsProduction false }}
        style="background-image: url('{{ .Section.image | relURL }}')"
        {{ else -}}
        style="background-image: url('https://psrfcu.imgix.net{{ .Section.image | relURL }}?fm=pjpg&auto=format')"
        {{- end }}
        >
          {{ if .Section.caption }}
          <div class="text-4xl text-center font-heading font-bold text-psrfcu filter drop-shadow uppercase">{{ .Section.caption }}</div>
          {{ end }}  
        </div>
      </figure>
    </div>
  </section>