<section class="block mt-8 px-8">
  <div class="max-w-full lg:max-w-6xl mx-auto">
    <div class="column-1 font-heading text-xl lg:text-4xl text-psrfcu mb-6">
      <h2 id="{{ urlize .Section.headline }}">{{ safeHTML .Section.headline }}</h2>
    </div>
    <div class='text-left sm:text-justify column-1  
      {{ if eq .Section.num_col_sm "1" -}}
        sm:columns-1 sm:gap-8
      {{- else if eq .Section.num_col_sm "2" -}}
        sm:columns-2 sm:gap-8
      {{- end }}
      {{ if eq .Section.num_col_md "1" -}}
        md:columns-1 md:gap-8
      {{- else if eq .Section.num_col_md "2" -}}
        md:columns-2 md:gap-8
      {{- else if eq .Section.num_col_md "3" -}}
        md:columns-3 md:gap-8
      {{- end }}
      {{ if eq .Section.num_col_lg "1" -}}
        lg:columns-1 md:gap-12
      {{- else if eq .Section.num_col_lg "2" -}}
        lg:columns-2 md:gap-12
      {{- else if eq .Section.num_col_lg "3" -}}
        lg:columns-3 md:gap-12
      {{- else if eq .Section.num_col_lg "4" -}}
        lg:columns-4 md:gap-12
      {{- end }}
      {{ if eq .Section.num_col_xl "1" -}}
        xl:columns-1 lg:gap-16
      {{- else if eq .Section.num_col_xl "2" -}}
        xl:columns-2 lg:gap-16
      {{- else if eq .Section.num_col_xl "3" -}}
        xl:columns-3 lg:gap-16
      {{- else if eq .Section.num_col_xl "4" -}}
        xl:columns-4 lg:gap-16
      {{- else if eq .Section.num_col_xl "5" -}}
        xl:columns-5 lg:gap-16
      {{- end }}
    '>
      {{ markdownify .Section.content_markdown }}
    </div>
    {{ if and (.Section.backtotop) (gt .section_count 0) }}
    <div class="w-full pt-2 print:hidden">&#8613;<span class="text-xs pl-2"><a href="#">Back to Top</a></span></div>
    {{ end }}
  </div>
</section>