{{ $bg_color := .Section.background_choice }}
{{ $cta_count := (len .Section.ctas) }}
<section aria-label="Links to Important Page Sections" 
class='block mt-8 px-8 pb-8
{{ if not (eq .Section.background_choice "whiteish")}}
{{ if eq .Section.background_choice "black" }}bg-black{{ end }}
{{ if eq .Section.background_choice "gray" }}bg-gray-600{{ end }}
{{ if eq .Section.background_choice "psrfcu" }}bg-psrfcu{{ end }}
{{end}}' 
{{- if .Section.background_image }}
 style="background-image: url('{{ .Section.background_image | relURL }}')"
{{- end -}}
>
  <div class="max-w-full lg:max-w-6xl mx-auto">
    {{ if .Section.headline }}
    <div class="font-heading text-xl lg:text-4xl text-psrfcu">
      <h2 id="{{ urlize .Section.headline }}">{{ safeHTML .Section.headline }}</h2>
    </div>
    {{ end }}
    <div class="print:hidden flex flex-col md:flex-row justify-around">
      {{ range .Section.ctas }}
      <div class="max-w-full md:1/{{ printf "%s" (string $cta_count) }}">
        <div class="flex flex-col h-full items-center m-2">
          {{ if .headline }}
            {{ if .link_url }}<a href="{{ .link_url }}">{{ end }}
              <h3 class='flex-shrink-0 text-center text-3xl md:text-lg lg:text-2xl font-bold font-heading
              {{ if (eq $bg_color "whiteish")}}text-psrfcu{{else}}text-white{{end}}'>
              {{ safeHTML .headline }}
              </h3>
            {{ if .link_url }}</a>{{ end }}
          {{ end }}
          {{ if .image }}
            <div class="flex-shrink-0 hidden md:block md:max-w-sm lg:max-w-xs p-4">
              {{- if eq hugo.IsProduction false }}
              <img class="rounded-lg h-48 w-48 md:h-24 md:w-24" src="{{ .image | relURL }}" alt="{{ .alt_text }}">
              {{ else -}}
              <img class="rounded-lg h-48 w-48 md:h-24 md:w-24" src="https://psrfcu.imgix.net{{ .image | relURL }}?w=100&h=100&q=100&fm=png&auto=format" alt="{{ .alt_text }}">
              {{- end }}
            </div>
          {{ end }}
          {{ if .content_markdown }}
            <div class="hidden flex-grow md:block text-center text-sm {{ if (eq $bg_color "whiteish")}}text-gray-700 {{else}}text-white {{end}}">{{ markdownify .content_markdown }}</div>
          {{ end }}
          {{ if .link_url }}
            <div class='flex-shrink-0 hidden md:block object-bottom text-center py-2 px-8 shadow-md {{ if (eq $bg_color "whiteish")}}bg-psrfcu text-white{{else}}bg-whiteish text-psrfcu{{end}} rounded'>
              <a class='whitespace-no-wrap'{{ if (eq .open_in_new_tab true) }}target="_blank" rel="noopener" aria-describedby="new-window-0"{{ end }} href="{{ .link_url }}">{{ markdownify .link_text_markdown }}</a>
            </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ if and (.Section.backtotop) (gt .section_count 0) }}
    <div class="w-full pt-2 print:hidden">&#8613;<span class="text-xs pl-2"><a href="#">Back to Top</a></span></div>
    {{ end }}
  </div>
</section>