<section class="block mt-8 print:hidden">
  <div class="px-8 mx-auto max-w-6xl">
    {{ with .Section.heading }}
    <h3 id="{{ urlize . }}" class="font-heading text-3xl text-psrfcu">{{ . }}</h2>
    {{ end }}
    {{ with .Section.description_markdown }}
    <div class="text-justify">{{ markdownify . }}</div>
    {{ end }}
    <div class="w-full flex flex-wrap">
      {{ $numlinks := len .Section.link }}
      {{ range .Section.link }}
      <div class="w-1/2 md:w-1/3 inline-block xl:w-auto">
        <button class="border m-1 text-sm py-1 px-2 text-psrfcu hover:bg-psrfcu hover:text-white rounded"><a href="{{ .link_url }}">{{ .link_text }}</a></button>
      </div>
      {{ end }}
    </div>
    {{ with .Section.footnotes_markdown }}
    <div class="text-justify pb-4">{{ markdownify . }}</div>
    {{ end }}
  </div>
</section>