{{ $url := .Section.url }}
{{ $sep := "," }}
{{ $dataC := getCSV $sep $url }}

<section class="block mt-8 px-8 pb-8">
  <div class="max-w-full lg:max-w-5xl mx-auto">
    {{ range after 1 $dataC }}
    <div class="flex-col md:flex-row flex items-center md:items-start justify-center py-4 px-8 md:px-0">
      <div class="md:block max-w-full md:min-w-0 md:max-w-md ml-0 md:mr-8">
        {{ if eq hugo.IsProduction false }}
        <img class="shadow-md rounded-lg p-4 bg-white" alt="{{ index . 0 }}" title="{{ index . 0 }}" width="300px" src='/uploads/{{ index . 2 }}' data-src='/uploads/{{ index . 2 }}'>
        {{ else }}
        <img class="shadow-md rounded-lg p-4 bg-white" alt="{{ index . 0 }}" title="{{ index . 0 }}" width="300px" src='https://psrfcu.imgix.net/uploads/{{ index . 2 }}?fm=pjpg&w=300&fit=clip&auto=format' data-src='https://psrfcu.imgix.net/uploads/{{ index . 2 }}?fm=pjpg&w=300&fit=clip&auto=format'>
        {{ end }}
      </div>
      <div class="max-w-full w-full md:w-lg pt-4 md:pt-0">
        <h2 id="{{ urlize (index . 0) }}" class="text-4xl font-heading text-psrfcu">{{ safeHTML (index . 0) }}</h2>
        <span class='text-left sm:text-justify text-black'>
          {{- markdownify (index . 1) -}}
        </span>
        <button class="block my-4">
          <a class="text-center py-2 px-8 shadow-md bg-psrfcu text-whiteish rounded" target="_blank" rel="noopener" aria-describedby="new-window-0" href="{{ index . 3 }}">Details</a>
        </button>
      </div>
    </div>
    {{ end }}
  </div>
</section>