<style>
  .embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
</style>

<section class="block mt-8 px-8">
  <div class="max-w-full lg:max-w-6xl mx-auto">
    <div class="block pb-4">
        {{ if .Section.heading }}
          <h2 class="font-heading text-3xl text-psrfcu">{{ .Section.heading }}</h2>
        {{ end }}
        {{ if .Section.description_markdown }}
          <span>{{ markdownify .Section.description_markdown }}</span>
        {{ end }}
      </div>
      <div class="block">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/{{.Section.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</section>