{{ $url := .Section.url }}
{{ $sep := "," }}
{{ $seed := now.Unix }}
{{ $randUrl := (printf "&rando=%s" (printf "%.10s" (sha256 $seed)) | printf "%s%s" $url | printf "%s") }}
{{ $dataC := getCSV $sep $randUrl }}
{{ $text := "" }}

{{ if gt (len (first 1 $dataC)) 0 }}
{{ $text = (index (index (first 1 $dataC) 0) 0) }}
{{ end }}

{{ if gt (len $text) 0 }}
<section aria-label="Announcements" class='z-50 p-2 lg:py-4 mt-0 
  {{ if eq .Section.background_choice "black" }}bg-black{{ end }}
  {{ if eq .Section.background_choice "gray" }}bg-gray-600{{ end }}
  {{ if eq .Section.background_choice "psrfcu" }}bg-psrfcu{{ end }}
  {{ if eq .Section.background_choice "whiteish" }}bg-whiteish{{ end }}'
>
  <div id="{{ urlize .Section.heading }}" 
    class='text-center text-base print:text-base text-lg max-w-full lg:max-w-5xl px-4 mx-auto
    {{ if eq .Section.text_choice "black" }}text-black{{ end }} 
    {{ if eq .Section.text_choice "psrfcu" }}text-psrfcu{{ end }}
    {{ if eq .Section.text_choice "white" }}text-white{{ end }}'
  >
    {{ markdownify $text }}
  </div>
</section>
{{ end }}