<section class="block mt-8 px-8">
  <div class="max-w-full lg:max-w-3xl mx-auto">
    <figure class="bg-psrfcu p-4 rounded-lg">
      <div class="block text-center">
        {{- if eq hugo.IsProduction false }}
        <img class="mx-auto" src="{{ .Section.image | relURL }}" alt="{{ .Section.caption }}">
        {{ else -}}
        <img class="mx-auto" src="https://psrfcu.imgix.net{{ .Section.image | relURL }}?fm=pjpg&auto=format" alt="{{ .Section.caption }}">
        {{- end }}
      </div>
      {{ if .Section.caption }}
      <figcaption class="pt-4 text-xl text-center font-heading font-bold text-whiteish">{{ markdownify .Section.caption }}</figcaption>
      {{ end }}
    </figure>
  </div>
</section>