<section aria-label="Page Section Heading" class='z-50 p-4 lg:py-10 mt-8 shadow-lg 
  {{ if eq .Section.background_choice "black" }}bg-black{{ end }}
  {{ if eq .Section.background_choice "gray" }}bg-gray-600{{ end }}
  {{ if eq .Section.background_choice "psrfcu" }}bg-psrfcu{{ end }}
  {{ if eq .Section.background_choice "whiteish" }}bg-whiteish{{ end }}'>
  <h1 id="{{ urlize .Section.heading_markdown }}" 
    class='text-center text-4xl print:text-4xl md:text-5xl font-heading 
    {{ if eq .Section.text_choice "black" }}text-black{{ end }} 
    {{ if eq .Section.text_choice "psrfcu" }}text-psrfcu{{ end }}
    {{ if eq .Section.text_choice "white" }}text-white{{ end }}'
  >
    {{ markdownify .Section.heading_markdown }}
  </h1>
</section>