<section aria-label="Announcements" class='z-50 p-2 lg:py-4 mt-0 
  {{ if eq .Section.background_choice "black" }}bg-black{{ end }}
  {{ if eq .Section.background_choice "gray" }}bg-gray-600{{ end }}
  {{ if eq .Section.background_choice "psrfcu" }}bg-psrfcu{{ end }}
  {{ if eq .Section.background_choice "whiteish" }}bg-whiteish{{ end }}'
>
  <div id="{{ urlize .Section.heading }}" 
    class='text-center text-base print:text-base text-lg max-w-full lg:max-w-5xl px-4 mx-auto
    {{ if eq .Section.text_choice "black" }}text-black{{ end }} 
    {{ if eq .Section.text_choice "psrfcu" }}text-psrfcu{{ end }}
    {{ if eq .Section.text_choice "white" }}text-white{{ end }}'
  >
    {{ markdownify .Section.content_markdown }}
  </div>
</section>