<section class="block mt-8 px-8">
  <div class="max-w-full lg:max-w-6xl mx-auto">
    <div class="font-heading text-xl lg:text-4xl text-psrfcu mb-4">
      <h2 id="{{ urlize .Section.heading }}">{{ .Section.heading }}</h2>
    </div>
    <p>{{ markdownify .Section.content_markdown }}</p>
    <div class="calconic-calculator"  data-calculatorid="{{ .Section.calc_id }}"></div>
    <script>
      (function() { var qs,j,q,s,d=document, gi=d.getElementById,
        ce=d.createElement, gt=d.getElementsByTagName,
        id="calconic_", b="https://storage.googleapis.com/calconic-cdn/static/js/";
        if(!gi.call(d,id)) { j=ce.call(d,"script"); j.id=id; j.type="text/javascript"; j.async=true;
        j.dataset.calconic=true;
        j.src=b+"calconic.min.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(j,q) }
      })();
    </script>
  </div>
</section>