{{ $url := .Section.url }}
{{ $sep := "," }}
{{ $seed := now.Unix }}
{{ $randUrl := (printf "&rando=%s" (printf "%.10s" (sha256 $seed)) | printf "%s%s" $url | printf "%s") }}
{{ $dataC := getCSV $sep $randUrl }}
{{ $p := $.Page }}

<section class="block mt-8">
  <div class="px-8 mx-auto max-w-4xl">
    {{ with .Section.heading }}
    <h3 id="{{ urlize . }}" class="font-heading text-3xl text-psrfcu">{{ . }}</h3>
    {{ end }}
    {{ with .Section.description_markdown }}
    <div class="text-left sm:text-justify">{{ $p.RenderString . }}</div>
    {{ end }}
    <div class="overflow-x-auto rounded">
      <table title="Data source: {{$randUrl}}" class="text-center w-full border-2 table-auto bg-white rounded shadow-md my-2">
        <thead>
          {{ range first 1 $dataC }}
          <tr class="align-top">
            <!-- range over column headings-->
              {{ range . }}
                <th class="p-2 md:p-4 bg-gray-200 text-psrfcu font-bold uppercase border-b border-gray-200 rounded-t">{{ $p.RenderString . }}</th>
              {{ end }}          
          </tr>
          {{ end }}
        </thead>
        <tbody>
          <!-- range over rows-->
          {{ range after 1 $dataC }}
          <tr class="hover:bg-gray-lighter">
            <!-- range over cells in row-->
            {{ range . }}
              <td class="p-2 md:p-4 border-b border-gray-200 text-center whitespace-nowrap">{{ $p.RenderString . }}</td>
            {{ end }}
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    {{ with .Section.footnotes_markdown }}
    <div class="text-left sm:text-justify pb-4">{{ $p.RenderString . }}</div>
    {{ end }}
  </div>
</section>