<section class="block mt-8 px-8" id="{{ .Section.formname | urlize }}">
  <form 
    name="{{ .Section.formid }}"
    data-netlify="true" method="POST"
    netlify-honeypot="rosie"
    data-netlify-recaptcha="true"
    class="mx-auto max-w-xl m-4 p-8 bg-white rounded shadow-xl"
  >
    <h2 class="font-heading text-3xl text-psrfcu">{{ .Section.formname }}</h2>
    <p>Fields marked with <span class="text-red-600">*</span> are required.</p>
    <div class="mt-2">
      <label class="block" for="name">Name <span class="text-red-600">*</span></label>
      <input class="w-full form-input" id="name" name="name" type="text" required="true" placeholder="Your Name" aria-label="Name">
    </div>
    <div class="mt-2">
      <label class="block" for="email">Email <span class="text-red-600">*</span></label>
      <input class="w-full form-input" id="email" name="email" type="email" required="true" placeholder="Your Email" aria-label="Email">
    </div>
    <div class="mt-2">
      <label class="block" for="phone">Phone</label>
      <input class="w-full form-input" id="phone" name="phone" type="text" required="" placeholder="Your Primary Phone Number" aria-label="Phone">
    </div>
    <div class="mt-2">
      <label class="block" for="contact-preference">Preferred method of contact?</label>
      <select class="block w-full form-select" name="contact-preference" id="contact-preference">
        <option>Email</option>
        <option>Phone</option>
      </select>
    </div>
    <div class="mt-2">
      <label class="block" for="message">Your message to us: <span class="text-red-600">*</span></label>
      <textarea class="w-full h-32 form-textarea resize-none" id="message" name="message" type="textarea" required="true" placeholder="How can we help you?" aria-label="Message"></textarea>
    </div>
    <div class="mt-4" data-netlify-recaptcha="true"></div>
    <div class="mt-4">
      <button class="px-4 py-1 text-white bg-psrfcu rounded" type="submit">Send</button>
    </div>
    <p class="hidden">
      <label>
        How many do you want?: <input name="rosie" />
      </label>
    </p>
  </form>
</section>