<header class="flex items-center justify-between py-4 px-8">
  <div>
    {{ if .Section.logo }}
    <a href="{{ .Page.Site.BaseURL | relURL }}">
      <img class="h-8" src="{{ .Section.logo | relURL }}" alt="{{ .Site.title }}">
    </a>
    {{ end }}
  </div>
  <nav>
    <ul>
      {{ range .Section.navigation }}
      <li class="inline-block list-none ml-4 {{ if (eq $.Page.Permalink .link_url) }}active{{ end }}"><a {{ if (eq .open_in_new_tab true) }}target="_blank" rel="noopener" aria-describedby="new-window-0"{{ end }} href="{{ .link_url }}">{{ .link_text }}</a></li>
      {{ end }}
    </ul>
  </nav>
</header>