{{- $url := "https://docs.google.com/spreadsheets/d/1kTJqaZMd41nS9cEHjo7UsT2ijho33HcfH-RL68Gw-bo/export?format=csv" -}}
{{- $sep := "," -}}
{{- $seed := now.Unix -}}
{{- $randUrl := (printf "&rando=%s" (printf "%.10s" (sha256 $seed)) | printf "%s%s" $url | printf "%s") -}}
{{- $dataC := getCSV $sep $randUrl -}}
{{- $choice := .Get 0 -}}
{{- if (eq $choice "rate") -}}
<span>{{- index (index $dataC 1) 0 -}}</span>
{{- else if (eq $choice "date") -}}
<span>{{- index (index $dataC 1) 1 -}}</span>
{{- else if (eq $choice "") -}}
<span class="text-red-500">Specify rate or date.</span>
{{- else -}}
<span title="Problem with Prime Date/Rate Shortcode!" class="text-red-500">Problem!</span>
{{- end -}}